// Color
$grey: rgb(104, 104, 104);
$light-grey: rgb(226, 226, 226);
$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);

// Adjustment
@import "layout/normalize.scss";
@import "layout/fonts.scss";
@import "layout/font-awesome.scss";
@import "layout/font-awesome.min.scss";
@import "layout/mixin.scss";
@import "layout/adjustment.scss";
@import "layout/animation.scss";


// Sections
@import "sections/header.scss";
@import "sections/slaider.scss";
@import "sections/navigation.scss";
@import "sections/info.scss";
@import "sections/footer.scss";
@import "sections/modal.scss";

// Media
@import "layout/media.scss";