@media screen and (max-width: 1200px) {
    .container {
        width: 90%;
    }

    .header__container_search-input {
        width: 50%;
    }


    .menu__list_item {
        width: 25%;
        text-align: center;
    }

    .info__gallery_container {
        justify-content: center;
        flex-wrap: wrap;
        &-img {
            margin-right: 10px;
            margin-bottom: 10px;
        }
    }

}

@media screen and (max-width: 750px) {

    .container {
        width: 100%;
    }

    .header__container {
        height: auto;
        padding: 10px 0;
        flex-direction: column;
        &_logo {
            margin-bottom: 10px;
        }
        &_search {
            text-align: center;
            width: 100%;
            margin: 0;
            &-input {
            margin-right: 5px;
            }
        }
    }

    .menu__list_item {
        padding: 6px 10px;
    }

    .info {
        &__lists_container {
        flex-direction: column;
            &-list {
                margin-bottom: 10px;
            }
        }

        &__table_container-cell {
            padding: 5px;
        }
    }

    .arrow-next::after {
        right: 36%;
        border: 25px solid transparent;
        border-left: 25px solid white;
    }

    .arrow-prev::after {
        left: 36%;
        border: 25px solid transparent;
        border-right: 25px solid white;
    }

    .section__slider_title {
        height: auto;
        padding: 10px 15px;
        font-size: 11px;
        &-header {
            font-size: 12px;
          }
    }
} 

@media screen and (max-width: 600px) {
    .section__slider_title {
        line-height: 1.1;
        padding: 5px 5px;
    }
}

@media screen and (max-width: 400px) {

    .header__container {
        height: auto;
        padding: 10px 0;
    }

    .menu {
        height: auto;
        &__list {
        flex-direction: column;
        &_item {
            width: 100%;
            border-right: none;
            border-bottom: 1px solid $grey;
            }
        }
    }

    .info {
        &__table_container-cell {
            font-size: 12px;
            padding: 3px;
        }

        &__forms_container-textarea {
            width: 250px;
        }
    }

    .arrow-next::after {
        right: 25%;
        border: 15px solid transparent;
        border-left: 15px solid white;
    }

    .arrow-prev::after {
        left: 25%;
        border: 15px solid transparent;
        border-right: 15px solid white;
    }

    .section__slider_title {
        // height: 35px;
        padding: 3px 3px;
        font-size: 10px;
        &-header {
            font-size: 11px;
          }
    }
}