.info {
  border: 1px solid $light-grey;
  box-shadow: 0px 0px 3px 0px #c0c0c0;
  padding: 15px 10px;
  background: $white;
  &__about {
    line-height: 20px;
    &_header {
      font: 30px bold;
      color: $grey;
      &::first-letter {
        color: $black;
      }
    }
    &_text {
      margin-top: 10px;
    }
    &_signature {
      font-style: italic;
      color: $grey;
      margin-left: 20px;
    }
  }

  &__gallery {
    &_header {
      margin-top: 30px;
      font: 25px bold;
      color: $grey;
      &::first-letter {
        color: $black;
      }
    }
    &_container {
      display: flex;
      justify-content: space-between;
      margin-top: 10px;
      &-img {
        display: block;
        max-width: 100%;
        height: auto;
        border: 12px solid $light-grey;
      }
    }
  }

  &__lists {
    margin-top: 30px;
    &_header {
      margin-top: 30px;
      font: 25px bold;
      color: $grey;
      &::first-letter {
        color: $black;
      }
    }
    &_container {
      margin-top: 10px;
      display: flex;
      justify-content: space-between;
      &-list {
        line-height: 20px;
      }
    }
  }

  &__table {
    &_header {
      margin-top: 30px;
      font: 25px bold;
      color: $grey;
      &::first-letter {
        color: $black;
      }
    }
    &_container {
      margin-top: 10px;
      display: flex;
      flex-direction: column;
      &-row {
        display: flex;
      }
      &-cell {
        padding: 10px;
      }
    }
  }

  &__forms {
    &_header {
      margin-top: 30px;
      font: 25px bold;
      color: $grey;
      &::first-letter {
        color: $black;
      }
    }
    &_container {
      display: flex;
      flex-direction: column;
      &-text {
        box-sizing: border-box;
        padding: 8px;
        width: 225px;
        border: 1px solid rgb(183, 183, 183);
        background: $white;
        box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, 0.15);
        &-header {
          margin-top: 10px;
        }
      }
      &-select {
        box-sizing: border-box;
        padding: 8px;
        width: 225px;
        border: 1px solid rgb(183, 183, 183);
        background: $white;
        box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, 0.15);
        &-header {
          margin-top: 10px;
        }
      }
      &-checkbox {
        margin-top: 10px;
      }
      &-radio {
        margin-top: 10px;
      }
      &-textarea {
        box-sizing: border-box;
        padding: 8px;
        width: 300px;
        border: 1px solid rgb(183, 183, 183);
        background: $white;
        box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, 0.15);
        &-header {
          margin-top: 10px;
        }
      }
      &-button {
        cursor: pointer;
        box-sizing: border-box;
        margin-top: 30px;
        height: 40px;
        width: 95px;
        border: 1px solid $black;
        background-color: rgb(32, 32, 32);
        font: 14px bold Arial;
        color: $white;
        &:hover {
          background: $grey;
          color: $black;
        }
      }
    }
  }
}

.list {
  &-disc {
    list-style-type: disc;
    list-style-position: inside;
  }
  &-decimal {
    list-style-type: decimal;
    list-style-position: inside;
  }
  &-margin {
    font-weight: bold;
    li:nth-child(2n) {
      font-weight: normal;
      margin-left: 30px;
    }
  }
}

.col1 {
  border: 1px solid $grey;
  border-top: none;
  width: 16%;
  animation: change_color_odd 3s infinite linear;
}

.col2 {
  border-right: 1px solid $grey;
  border-bottom: 1px solid $grey;
  width: 28%;
  animation: change_color_even 3s infinite ease-in;
}

.col3 {
  border-right: 1px solid $grey;
  border-bottom: 1px solid $grey;
  width: 30%;
  animation: change_color_odd 3s infinite ease-out;
}

.col4 {
  border-right: 1px solid $grey;
  border-bottom: 1px solid $grey;
  width: 26%;
  animation: change_color_even 3s infinite ease-in-out;
}

.th {
  background: $light-grey;
  font-weight: bold;
  border-top: 1px solid $grey;
}

.info__table:hover .col1, 
.info__table:hover .col2,
.info__table:hover .col3,
.info__table:hover .col4 {
  animation-play-state: paused;
}